<html>
	<head>
		<script src="/assets/js/jquery/1.8.3/jquery.js"></script>
		<script src="/assets/js/angular.min.js"></script>
		
		<script src="//code.angularjs.org/1.2.9/angular-animate.js"></script>
		<script src="//code.angularjs.org/1.2.25/angular-resource.js"></script>		
		
		<script src="ngVending.js"></script>
		
		<link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet"></link>
		<link href="/assets/css/animate.min.css" rel="stylesheet"></link>
		<style>
		.animated.ng-hide-add
			{
		    -webkit-animation-name: fadeOutLeft;
		  	animation-name: fadeOutLeft;
			}
		.animated.ng-hide-remove
			{
		  	-webkit-animation-name: fadeInLeft;
		  	animation-name: fadeInLeft;
			}
		</style>
	</head>
	<body ng-app="vending"  ng-controller="shopController">
	<div class="container">
		<div class="form-horizontal">			
			<div class="form-group"><label>cliente</label><select class="form-control" ng-model="client" ng-options="cliente.cf for cliente in clienti"></select></div>
			<div class="form-group"><button class="btn" ng-click="shop.exit()">Exit</button></div>			
			<div class="form-group"><label>scaffale</label><input class="form-control" type="text" ng-model="position"/></div>						
		</div>
		<FIELDSET>
		<blockquote class="row animated" ng-show="shop.user.logged">
			<DIV class="col-md-2 text-right">{{shop.user.name}} {{shop.user.cognome}}</DIV>		
			<button class="btn btn-success col-md-2">{{shop.user.balance | currency}}</button>		
		</blockquote>
		<blockquote class="row" ng-show="shop.user.cf==null">
			<DIV class="col-md-2 text-right"></DIV>		
			<button class="btn btn-success col-md-2">{{shop.user.balance | currency}}</button>		
		</blockquote>
		<blockquote ng-show="shop.product" class="row animated">
			<DIV class="col-md-2 text-right">{{shop.product.name}}</DIV>
			<button class="btn btn-warning col-md-2">{{shop.product.price | currency}}</button>
		</blockquote>		
		<blockquote class="row">
			<DIV class="col-md-2 text-right"></DIV>
			<button ng-click="shop.buy()" ng-show="shop.difference!=null && shop.difference>=0" class="btn btn-success col-md-2">BUY</button>						
		</blockquote>
		
		<A >Buy</A>
		</FIELDSET>
		<fieldset class="money">
			<BUTTON class="btn" ng-click="addMoney(1)">1&euro;</BUTTON>
			<BUTTON class="btn" ng-click="addMoney(2)">2&euro;</BUTTON>
			<BUTTON class="btn" ng-click="addMoney(5)">5&euro;</BUTTON>
			<BUTTON class="btn" ng-click="addMoney(10)">10&euro;</BUTTON>
			<BUTTON class="btn" ng-click="addMoney(20)">20&euro;</BUTTON>
			<BUTTON class="btn" ng-click="addMoney(50)">50&euro;</BUTTON>			
		</fieldset>
	</div>
	<BR><BR><BR>
	<div class="container" ng-controller="productsController">
		<table class="table table-striped">
			<tr ng-repeat="item in products">
				<td>{{item.position}}</td>
				<td>{{item.name}}</td>
			</tr>
		</table>
	</div>
	</body>
</html>